/* INICIO DO HEADER */
*{
  font-family: Arial;
}

body{
  margin: 0;
  background-position: center;
  background-size: cover; 
  background-image: url(../imgs/stardewbackground.png);
}

.header{
  background-color: black;
  width: 100%;
  height: 70px;
}

.header .conteiner h1{
  color: yellow;
}

ul{
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: large;
}

.conteiner{
  width: 80%;
  margin: auto;
  display: flex;
}

.header .conteiner{
  justify-content: space-between;
  align-items: center;
}

a{
  padding-top: 32px;
  padding-bottom: 14px;
  color: yellow;
  text-decoration: none;
}

.selecionado{
  background-color: #272626;
  border-bottom: yellow solid 7px;
}

/* FIM DO HEADER */
/* INICIO DO BANNER */

.formulario{
  background-image: linear-gradient(rgba(254, 255, 171, 0.75), rgba(255, 151, 114, 0.75));
  width: 30%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: larger;
  float: right;
  border: black 2px solid;
}

.formulario img{
  border: black 2px solid;
  width: 20%;
  height: 15%;
}

.formulario button{
  background-image: linear-gradient(rgb(255, 211, 110), rgb(255, 88, 88));
  font-size: larger;
  color: white;
  width: 50%;
}

.formulario input{
  background-color: #faffb5;
  width: 60%;
}

.alert{
  width: 25%;
  height: 30%;
  display: flex;
  position: fixed;
  right: 38%;
  border: gold 8px solid;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: rgb(251, 255, 0);
  background-image: linear-gradient(rgb(231, 110, 255), rgb(99, 26, 128));
  flex-direction: column;
}

.imagem{
  display: flex;
  width: 30%;
  height: 80vh;
  position: fixed;
}
/* FIM DO BANNER */
/* INICIO DO FOOTER */

.footer{
  width: 100%;
  background-color: black;
  display: flex;
  height: 50px;
  color: yellow;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}